body, button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.modal {
    display: none;

    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    /* background-color: rgb(0, 0, 0); */
    background-color: rgba(0, 0, 0, 0.5);
}

form.modal-content {
    border: 1px solid #888;
    border-radius: 5px;

    background-color: #fefefe;
    margin: 10% auto 0 auto;
    width: 40%;
}

div.container {
    padding: 16px;
}
div.cancel {
    background-color: #f1f1f1f1;
}

.close {
    cursor: default;

    position: absolute;
    right: 25px;
    /* top: 0; */
    color: black;
    font-size: 35px;
    font-weight: bold;
}
.close:hover {
    color:red;
    cursor: pointer;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Botones */
button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
}

#btnLogin {
    background-color: #00BBf9;
}

button[type=submit] {
    background-color: #04AA6D;
    width: 100%;
    border-radius: 0px;
}

.btnCancel {
    padding: 10px 18px;
    background-color: #f44336;
}

/* Centrar el avatar dentro del contenedor */
.img-container {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

label.remember {
    font-size: .9rem;
}
span.psw {
    float: right;
    padding-top: 14px;
}

.animate {
    animation: zoom 0.6s;
}

@keyframes zoom {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

@media screen and (max-width: 850px){
    .modal-content {
        /* margin: 10% auto 0 auto; */
        width: 80% !important;
        /* height: 800px; */
    }
}

@media screen and (max-width: 420px){
    div.cancel {
        text-align: center;
    }
    span.psw {
        display: block !important;
        float: none !important;
    }
    .btnCancel {
        width: 100% !important;
    }
}