/* Galería de imágenes */

/* Grid */
.gallery-container {
    display: flex;
    flex-direction: column;

    margin: 10px 0;
}

.row {
    display: flex;
    justify-content: flex-start;
    height: 100px;
}

.column {
    padding-right: 10px;
}
.column img{
    height: 100%;
    max-width: 125px;
    /* Firefox requiere del max-width o le da a los divs el ancho original de la img */

    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}

.exp-img-container {
    position: relative;
    display: none;

    padding: 10px 0;
}

.btnClose {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    cursor: pointer;
    font-size: 25px;
}

#expImg {
    width: 100%;
}